@media screen and (max-width: 1400px) {
	#container #text textarea {
		height: 200px;
	}
	#container {
		width: 80%;
	}
}

@media screen and (max-width: 1200px) {
	#preloader #span1 {
		left: calc(40% - 200px);
	}
	#preloader #span2 {
		left: calc(44% - 200px);
	}
	#preloader #span3 {
		left: calc(48% - 200px);
	}
	#preloader #span4 {
		left: calc(52% - 200px);
	}
	#preloader #span5 {
		left: calc(56% - 200px);
	}
	#preloader #span6 {
		left: calc(60% - 200px);
	}
}

@media screen and (max-width: 1150px) {
	#container {
		width: 90%;
	}
	#container #dot1,
	#container #dot2,
	#container #dot3,
	#container #dot4,
	#container #dot5 {
		right: -25px;
	}
	#container #text textarea {
		height: 150px;
	}
	#container > p {
		font: 1em/24px Verdana;
	}
	#container #info {
		height: 70px;
	}
	#container #info #last_result {
		font: 1em Verdana;
		padding: 8px 25px;
		height: 35px;
		margin: 13px 0 0 20px;
	}
	#container #info #go {
		font: 1em Verdana;
		height: 35px;
		width: 120px;
		margin: 13px 20px 0 0;
	}

	#container #info #timer {
		font: 1em Verdana;
		padding: 8px 25px;
		height: 35px;
		margin: 13px 20px 0 0;
	}
	::-webkit-input-placeholder {
	  font: 1.2em Arial;
	}
	#container #info {
		height: 60px;
	}
}

@media screen and (max-width: 1200px) {
	#preloader #span1 {
		left: calc(35% - 200px);
	}
	#preloader #span2 {
		left: calc(41% - 200px);
	}
	#preloader #span3 {
		left: calc(47% - 200px);
	}
	#preloader #span4 {
		left: calc(53% - 200px);
	}
	#preloader #span5 {
		left: calc(59% - 200px);
	}
	#preloader #span6 {
		left: calc(65% - 200px);
	}
}

@media screen and (max-width: 900px) {
	#container > p {
		font: 0.875em/20px Verdana;
	}
}