<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title test
	link(rel="stylesheet", href="css/style.css")
body
	#preloader
		span#span1
		span#span2
		span#span3
		span#span4
		span#span5
		span#span6
	#shadow
		#div
			h3 Результаты
			p#signs Знаков: 0 за 60 секунд
			div
				button#reset Заново
	#wrapper(onselectstart="return false")
		#container
			p#p Алиса притомилась от безделья. Она сидела на берегу реки, иногда заглядывая в книгу, которую читала сестра, но в ней не было картинок. "А что это за книжка, если в ней нет картинок?" - подумала Алиса. Она стала рассуждать про себя (в той мере в какой это позволял сделать жаркий день, приведший ее в сонное и несколько отупелое состояние) - оправдает ли удовольствие от плетение венка из маргариток тяготы, связанные с вставанием на ноги и собиранием цветов. Но тут Белый Кролик с розовыми глазами прошмыгнул у ее ног. В этом не было НИЧЕГО особенного. И Алиса не нашла ничего особенного в том, что услышала как Кролик пробормотал себе под нос: "Ай-яй-яй! Я опаздываю". (Когда она думала об этом впоследствии, то понимала, что ей надо бы было этому удивиться, но тогда ей все показалось совершенно естественным).
			button#dot1.current
			button#dot2
			button#dot3
			button#dot4
			button#dot5
			#text
				#top
				textarea(placeholder='Введи как можно больше за 60 секунд' id='textarea' disabled)
				#info
					span#timer Время: 60
					button#go Старт
					p#last_result  Последний результат: –
	script(src='js/main.js')